$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*
 * layouts
 */
//main
#main-view {
  .product-grid {
    @extend .col-lg-10;
  }
  .car-col{
    @extend .col-lg-2;
  }
}

/*
 * components
 */
.products-table {
  @extend .table;
  @extend .table-bordered;
  @extend .table-hover;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
