
<div class="jumbotron">

  <h1> One page Apps with Yeoman </h1>

  <p class="lead">
    <a href="https://github.com/richistron/carrito"> Github </a>
  </p>

  <p class="lead">
    <a href="https://travis-ci.org/richistron/carrito">
      Travis CI <img src="https://travis-ci.org/richistron/carrito.svg?branch=develop" alt="tavis" />
    </a>
  </p>

  <p class="lead">
    <a href="http://richistron.github.io/carrito">
      Coverage
    </a>
  </p>

  <p class="lead">
    by <a href="https://github.com/richistron">@richistron</a>
  </p>
</div>
